#tabuleiro11 {
    position: absolute;
    top: 2%;
    left: 2%;
    
}

#tabuleiro14{
    position: absolute;
    top: 2%;
    left: 47%;
}

#tabuleiro17{
    position: absolute;
    top: 2%;
    left: 93%;
}

#tabuleiro22{
    position: absolute;
    top: 18%;
    left: 17%;

}
#tabuleiro24{
    position: absolute;
    top: 17%;
    left: 47%;

}

#tabuleiro26{
    position: absolute;
    top: 18%;
    left: 78%;
}

#tabuleiro33{
    position: absolute;
    top: 32%;
    left: 32%;
}

#tabuleiro34{
    position: absolute;
    top: 32%;
    left:47%;
}

#tabuleiro35{
    position: absolute;
    top: 32%;
    left:62%;
}

#tabuleiro41{
    position: absolute;
    top: 47%;
    left:2%;
}


#tabuleiro42{
    position: absolute;
    top: 47%;
    left:17%;
}

#tabuleiro43{
    position: absolute;
    top: 47%;
    left:32%;
}

#tabuleiro45{
    position: absolute;
    top: 47%;
    left:62%;
}

#tabuleiro46{
    position: absolute;
    top: 47%;
    left:78%;
}

#tabuleiro47{
    position: absolute;
    top: 47%;
    left:93%;
}

#tabuleiro53{
    position: absolute;
    top: 63%;
    left:32%;
}

#tabuleiro54{
    position: absolute;
    top: 63%;
    left:47%;
}

#tabuleiro55{
    position: absolute;
    top: 63%;
    left:62%;
}

#tabuleiro62{
    position: absolute;
    top: 77%;
    left:17%;
}
#tabuleiro62{
    position: absolute;
    top: 77%;
    left:17%;
}

#tabuleiro64{
    position: absolute;
    top: 77%;
    left:47%;
}

#tabuleiro66{
    position: absolute;
    top: 77%;
    left:78%;
}

#tabuleiro71{
    position: absolute;
    top: 93%;
    left:2%;
}


#tabuleiro74{
    position: absolute;
    top: 93%;
    left:47%;
}

#tabuleiro77{
    position: absolute;
    top: 93%;
    left:93%;
}