.pecabranca {
    background-color: white;
    height: 50px;
    width: 50px;
    border: solid 2px black;
    border-radius: 50px;
}

#telaVencedor{
    top: 0px;
    backdrop-filter: blur(17px) contrast(146%) grayscale(66%) opacity(84%);
    width: 99vw;
    height: 99vh;
    position: absolute;
}

#vencDentro input{
    height: 50px;
    width: 200px;

}

#vencDentro{
    margin-top: 10%;
    margin-left: 80px;
    height: 200px;
    text-align: center;
    width: 400px;
    border: 2px solid black;
    background-color: white;
}






#comecaDiv button{
    height: 60px;
    margin-top: 17%;
    margin-left: 50px;
    border: 2px solid black;
}

#comecaDiv{
    
    top: 0px;
    backdrop-filter: blur(17px) contrast(146%) grayscale(66%) opacity(84%);
    width: 99vw;
    height: 99vh;
    display: flex;
    position: absolute;
}

#divimg{margin: auto;
text-align: center;}

#botaofora{
    display: flex;
    /* justify-content:space-between; */
}

#pecasMesas{
    display: flex;
    margin: 40px;
    margin-top: 0px;
}
.pecasMesas{
    display: flex;
    flex-direction: column;

}

#tabuleiro img {
    height: 600px;
    
    
}

#tabuleiro {
    position: relative;
    top: 0px;
    left: 0px;
    height: 600px;
    width: 600px;
    
    
}
.posicoes{
    text-align: center;
    height: 30px;
    width: 30px;
}

#pecasbrancasmesas{
    display: flex;
}

#pecaspretasmesas{
    display: flex;
}

.pecapreta{
    height: 50px;
    width: 50px;
    border: solid 2px black;
    border-radius: 50px;
    background-color: brown;
}


