.pecabranca {
    background-color: white;
    height: 50px;
    width: 50px;
    border: solid 2px black;
    border-radius: 50px;
}
#divimg{margin: auto;
text-align: center;}

#botaofora{
    display: flex;
    /* justify-content:space-between; */
}

#pecasMesas{
    display: flex;
    margin: 40px;
    margin-top: 0px;
}
.pecasMesas{
    display: flex;
    flex-direction: column;

}

#tabuleiro img {
    height: 600px;
    
    
}

#tabuleiro {
    position: relative;
    top: 0px;
    left: 0px;
    height: 600px;
    width: 600px;
    
    
}
.posicoes{
    text-align: center;
    height: 30px;
    width: 30px;
}

#pecasbrancasmesas{
    display: flex;
}

#pecaspretasmesas{
    display: flex;
}

.pecapreta{
    height: 50px;
    width: 50px;
    border: solid 2px black;
    border-radius: 50px;
    background-color: brown;
}


